.home {
  width: 100vw;
  height: fit-content;
  background: black;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider > i {
  position: absolute;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid white;
  padding: 9px 13px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.slider > i:nth-child(1) {
  left: 25px;
}

.slider > i:nth-child(2) {
  right: 25px;
}

.slider .wrapper {
  width: fit-content;
  height: 100%;
}

.slider .slide {
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: 0.7s;
  position: absolute;
}

.slide .overlay {
  width: 100vw;
  height: 100%;
  background: #a8a091;
  background: radial-gradient(circle, #a8a091 25%, #414540);
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.27;
}

.slider .slide.active {
  opacity: 1;
}

.slider img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  position: absolute;
  z-index: 0;
}

.slide .content {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12%;
}

.slide h1 {
  width: fit-content;
  font-size: 84px;
  color: white;
}

.slide span {
  color: white;
  text-shadow: 0px 0px 10px rgba(117, 115, 105, 0.17);
  font-weight: 700;
  font-size: 10;
}

.slide button {
  color: black;
  background: white;
  border-radius: 5px;
  padding: 12px 25px;
  font-weight: 700;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.slide button:hover {
  box-shadow: rgba(255, 255, 255, 0.7) 0px 2px 14px;
}

@media screen and (max-width: 1025px) {
  .slide .content {
    padding-top: 250px;
  }

  .slide h1 {
    font-size: 74px;
  }
}

@media screen and (max-width: 756px) {
  .slide .content {
    justify-content: end;
    padding: 0;
    padding-bottom: 100px;
  }

  .slide h1 {
    font-size: 44px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .slide .content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .slide h1 {
    font-size: 36px;
  }

  .slide span {
    font-size: 14px;
  }
}
