.home {
  width: 100vw;
  height: fit-content;
  background: black;
}

.home .slider {
  width: 100%;
  height: 100vh;
  background: url(../images/bride0.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
