@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url(./css/home.css);
@import url(./css/nav.css);

* {
  padding: 0;
  border: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  opacity: 0;
  transition: 0.4s;
  min-height: 1000px;
  background: white;
  overflow: hidden;
}

body #content {
  overflow: hidden;
}
